<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

   <appender name="console" class="org.apache.log4j.ConsoleAppender" >
   		<layout class="org.apache.log4j.PatternLayout">
        	<!--<param name="ConversionPattern" value="%d %-4r [%t] %-5p %c %x - %m%n" />-->
        	<param name="ConversionPattern" value="%d [%t] %-5p %c %x - %m%n" />
        </layout>
   </appender>
       
   <!-- A time/date based rolling appender -->
   <appender name="BM_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
      <param name="immediateFlush" value="true"/>
      <param name="File" value="logs/bm_server.log"/>
      <param name="Append" value="false"/>
      <param name="Threshold" value="debug"/>

      <!-- Rollover at midnight each day -->
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>

         <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
         <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/>
          -->
      </layout>
      <!--filter class="org.apache.log4j.varia.StringMatchFilter">
            <param name="StringToMatch" value="metrics"/>
            <param name="AcceptOnMatch" value="true"/>
      </filter>
      <filter class="org.apache.log4j.varia.DenyAllFilter"/-->
   </appender>
   <appender name="MQTT_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
      <param name="File" value="logs/mqtt.log"/>
      <param name="Append" value="false"/>
      <param name="Threshold" value="debug"/>

      <!-- Rollover at midnight each day -->
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
      </layout>
   </appender>
   <appender name="DB_APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
      <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
      <param name="File" value="logs/db.log"/>
      <param name="Append" value="false"/>
      <param name="Threshold" value="debug"/>

      <!-- Rollover at midnight each day -->
      <param name="DatePattern" value="'.'yyyy-MM-dd"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
      </layout>
   </appender>
   
   <logger name="BM_LOG">
        <appender-ref ref="BM_APPENDER" />
   </logger>
   <logger name="MQTT_LOG">
        <appender-ref ref="MQTT_APPENDER" />
   </logger>
   <logger name="DB_LOG">
   		<appender-ref ref="DB_APPENDER" />
   </logger>
   
   <root>
   		<level value="trace" />
        <appender-ref ref="console" />
   </root>
        
   
</log4j:configuration>